h1 Taks list 
a(href="/tasks/build") create new task
table(border="1")
  thead 
    tr
      th done 
      th id
      th title 
      th description
      th actions
  tbody 
    each task in tasks 
      tr 
        td 
          if(task.done)
            | closed
          else
            a(href=`tasks/${task.id}/done?_method=post`) done
        td=task.id
        td=task.title
        td=task.description
        td 
          a(href=`/tasks/${task.id}/edit`) edit
          |&nbsp;|&nbsp;
          a(href=`/tasks/${task.id}?_method=delete`) delete